@tailwind base;
@tailwind components;
@tailwind utilities;

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    
}

.search-form {
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.search-form.visible {
    opacity: 1;
}

*:focus {
    outline: none;
}